---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import AccessPill from "../components/AccessPill.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import Project from "../components/Project.astro";
---

<Layout
	title="Portfolio de Ioritz Tubio - Desarrollador y Programador Web Estudiante Ingeniero Informatico"
	description="Contrata a Ioritz Tubio para realizar prácticas universitarias."
>
	<main class="px-4" >
		<Section class="py-44 pb-28">
			<h1
				class="text-white font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 sm:text-3xl text-2xl md:text-4xl"
			>
				Hola, soy Ioritz Tubío
				<a
					href="https://www.linkedin.com/in/ioritz-tubio-sanchez-0aa18a2b2/"
					target="_blank"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-white text-wrap opacity-90 max-w-[700px]">
				Estudiante en <span class="text-yellow-200"
					>Ingeniería Informática</span
				> en la Universidad del País Vasco (UPV/EHU). De <span
					class="text-purple-300">Donostia-San Sebastián</span
				>, España.
			</h2>

			<nav class="flex gap-4 mt-10 flex-wrap">
				<AccessPill
					href="https://www.linkedin.com/in/ioritz-tubio-sanchez-0aa18a2b2/"
				>
					<LinkedIn class="size-5 lg:size-6" />
					LinkedIn
				</AccessPill>
				<AccessPill href="https://github.com/ioritztubio">
					<GitHub class="size-5 lg:size-6" />
					GitHub
				</AccessPill>
				<AccessPill href="mailto:ioritztubio1@gmail.com"
				>
					<Mail class="size-5 lg:size-6" />
					ioritztubio1@gmail.com
				</AccessPill>
			</nav>
		</Section>

		<Section id="experiencia">
			<h2 class="text-3xl font-semibold pb-10">Experiencia laboral</h2>
			<Experience />
		</Section>

		<Section id="proyectos" >
			<h2 class="text-3xl font-semibold pb-8">Proyectos</h2>
			<Project />
		</Section>

		<Section id="sobremi" >
			<h2 class="text-3xl font-semibold pb-8">Sobre mí</h2>
			<p class="opacity-85 text-pretty">
				Soy una persona sumamente <span class="text-green-200"
					>social y adaptable</span
				>, capaz de
				<span class="text-purple-300">integrarse fácilmente </span>en
				cualquier entorno. Mi actitud hacia el trabajo es siempre
				positiva y enérgica, lo que me permite abordar los desafíos con <span
					class="text-yellow-200 ">determinación y perseverancia</span
				>. </p>
				<br/>
				
				<p class="opacity-85 text-pretty">Mi mayor pasión radica en el aprendizaje continuo; disfruto
				explorar nuevos conocimientos y habilidades, lo que me impulsa
				constantemente a mejorar y crecer tanto a nivel personal como
				profesional. Considero que mi <span class="text-orange-200"
					>capacidad para relacionarme</span
				> y mi
				<span class="text-blue-300">compromiso con el desarrollo</span> constante
				son activos fundamentales en cualquier equipo o proyecto en el que
				participe.
			</p>
		</Section>

		<Section id="contacto" >
			<h2 class="text-3xl font-semibold pb-8">Contacto</h2>
			<p class="opacity-85 text-pretty">
				¿Quieres empezar un proyecto juntos?
				¡No dudes en ponerte en contacto conmigo!
			</p>
			<nav class="flex gap-4 mt-10 flex-wrap">
				<AccessPill
					href="https://www.linkedin.com/in/ioritz-tubio-sanchez-0aa18a2b2/"
				>
					<LinkedIn class="size-5 lg:size-6" />
					LinkedIn
				</AccessPill>
				<AccessPill href="mailto:ioritztubio1@gmail.com">
					<Mail class="size-5 lg:size-6" />
						ioritztubio1@gmail.com
					

				</AccessPill>
			</nav>
		</Section>

		

	</main></Layout
>
