---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex justify-center flex-row">
				Hey, soy Ioritz Tubío 
				<div class="flex justify-center items-center">
					<Badge>Con ganas de trabajar</Badge>
				</div>
			</h1>
			<h2>
				Estudiante en Ingeniería Informática en la Universidad del País
				Vasco (UPV/EHU). De Donostia-San Sebastián, España
			</h2>
		</section>
	</main></Layout
>
