---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Estudiante de Ingeniería Informática',
        description: 'Estudio en la UPV/EHU de Donostia-San Sebastián. Ahora mismo me encuentro terminando el tercer año de carrera.',
        link: 'https://www.ehu.eus/es/web/graduak/grado-ingenieria-informatica'
    },
   
]

---


<ol class="relative border-s  border-purple-500 ml-2">       
    {
        EXPERIENCE.map( (experience) => (
            <li class="mb-10 ms-4"> 
                <ExperienceItem {...experience} />
            </li>
        ))
                
    }
    
   
</ol>

