<header class="flex justify-between items-center py-3  xl:w-[1120px] mx-auto">
    <img
        class="rounded-full size-12 hover:scale-150 transition"
        src="https://avatars.githubusercontent.com/u/124676247?s=80&v=4"
        alt="ioritz photo"
    />
    <nav class="flex flex-row gap-x-10">
        <a href="#top" class="text-lg opacity-80 hover:scale-105 hover:opacity-100 transition">Inicio</a>
        <a href="#experiencia"  class="text-lg opacity-80 hover:scale-105 hover:opacity-100 transition">Experiencia</a>
        <a href="#services"  class="text-lg opacity-80 hover:scale-105 hover:opacity-100 transition">Proyectos</a>
        <a href="#about"  class="text-lg opacity-80 hover:scale-105 hover:opacity-100 transition">Sobre mí</a>
        <a href="#contact"  class="text-lg opacity-80 hover:scale-105 hover:opacity-100 transition">Contacto</a>
    </nav>
</header>
