<header class="flex justify-between items-center py-3  xl:w-[1120px] mx-auto">
    <img
        class="rounded-full size-12"
        src="https://avatars.githubusercontent.com/u/124676247?s=80&v=4"
        alt="ioritz photo"
    />
    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="#top" class="text-lg">Inicio</a>
        <a href="#experiencia" class="text-lg">Experiencia</a>
        <a href="#services" class="text-lg">Proyectos</a>
        <a href="#about" class="text-lg">Sobre mí</a>
        <a href="#contact" class="text-lg">Contacto</a>
    </nav>
</header>
