<header
    class="mt-5 sm:flex sm:justify-between sm:items-center sm:text-lg py-3 sm:px-4 xl:w-[1120px] mx-auto s:gap-x-4 w-full sm:mt-5"
>
    <img
        class="rounded-full hidden sm:block sm:size-16 sm:mx-5 md:size-16 hover:scale-150 transition"
        src="/projects/perfil.webp"
        alt="ioritz photo"
    />
    <nav
        class="flex justify-evenly text-sm sm:flex sm:flex-row sm:gap-x-4 md:gap-x-10 sm:text-base md:text-lg lg:text-lg"
    >
        <a
            href="#top"
            class="text-white opacity-80 hover:scale-105 hover:opacity-100 transition"
            >Inicio</a
        >
        <a
            href="#experiencia"
            class="text-white opacity-80 hover:scale-105 hover:opacity-100 transition"
            >Experiencia</a
        >
        <a
            href="#proyectos"
            class="text-white opacity-80 hover:scale-105 hover:opacity-100 transition"
            >Proyectos</a
        >
        <a
            href="#sobremi"
            class="text-white opacity-80 hover:scale-105 hover:opacity-100 transition"
            >Sobre mí</a
        >
        <a
            href="#contacto"
            class="text-white opacity-80 hover:scale-105 hover:opacity-100 transition"
            >Contacto</a
        >
    </nav>

    <div
        class="flex justify-center mt-32  mb-24 items-center  sm:hidden"
    >
        <img
            class="rounded-3xl size-36  sm:size-10 md:size-16 hover:scale-150 transition"
            src="/projects/perfil.webp"
            alt="ioritz photo"
        />
    </div>
</header>
