<header class="flex justify-between items-center py-3 px-4 xl:w-[1120px] mx-auto s:gap-x-4 w-full mt-5">
    <img
        class="rounded-full size-16 hover:scale-150 transition"
        src="https://avatars.githubusercontent.com/u/124676247?s=80&v=4"
        alt="ioritz photo"
    />
    <nav class="flex flex-row gap-x-4 md:gap-x-10 text-s lg:text-lg ">
        <a href="#top" class=" opacity-80 hover:scale-105 hover:opacity-100 transition">Inicio</a>
        <a href="#experiencia"  class=" opacity-80 hover:scale-105 hover:opacity-100 transition">Experiencia</a>
        <a href="#proyectos"  class=" opacity-80 hover:scale-105 hover:opacity-100 transition">Proyectos</a>
        <a href="#sobremi"  class=" opacity-80 hover:scale-105 hover:opacity-100 transition">Sobre mí</a>
        <a href="#contacto"  class=" opacity-80 hover:scale-105 hover:opacity-100 transition">Contacto</a>
    </nav>
</header>
